.countryInfo {
    padding: 70px;
    display: flex;
    &__image {
        max-width: 40%;
        margin-right: 90px;
    }
    &__text {
        padding: 24px;
        display: flex;
        flex-wrap: wrap;
        &__title {
            width: 100%;
            margin-top: 0;
        }
        &__column {
            width: calc(50% - 20px);
            padding-right: 20px;
        }
        &__description {
            display: flex;
            &__field {
                font-weight: 600;
                margin-right: 8px;
            }
            &__field, &__value {
                display: flex;
            }
        }
    }
}