.main-header {
    height: 72px;
    background-color: var(--extra-element-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4em;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    &__text {
        font-size: 1.2em;
        font-weight: 700;
    }
    &__toggle {
        label, p {
            margin: 0;
        }
        label {
            width: 114px;
            height: 72px;
            display: flex;
            align-items: center;
            position: relative;
            &::before, &::after, input {
                position: absolute;
                cursor: pointer;
            }
            &::before {
                content: var(--moon);
                font-family: 'icon-font' !important;
                font-size: 18px;
                color: var(--primary-color); 
                left: 0;
            }
            &::after {
                content: 'Dark Mode';
                color: var(--primary-color);
                right: 0;
            }
            input {
                width: 100%;
                height: 100%;
                position: absolute;
                opacity: 0;
            }
        }
    }
}